h1 {
  color: #981e32;
  border: 1px solid #981e32;
  border-width: 0 0 1px 0;
  margin-top: 30px;
  font-size: 1.8rem;
}
.banner {
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  padding: 9px;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: #f5f5f5;
}
.alert {
  padding: 0.375rem 0.75rem;
  font-size: 0.8em;
  margin: 0px;
}
