<div *ngIf="isClient('1')" class="container">
  <div [hidden]="submitted">
    <h1>Services</h1>
    <div class="banner">Enter payment information</div>
    <form (ngSubmit)="onSubmit()" #paymentForm="ngForm">
      <div fxLayout="row" fxLayoutGap="5px">
        <div class="form-group" fxFlex="70">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="formModel.Name"
            name="name"
            #name="ngModel"
          />
          <div
            [hidden]="name.valid || name.pristine"
            class="alert alert-danger"
          >
            Name is required
          </div>
        </div>
        <div class="form-group" fxFlex="30">
          <label for="amount">Amount</label>
          <input
            type="number"
            class="form-control"
            id="amount"
            required
            [(ngModel)]="formModel.Amount"
            name="amount"
            #amount="ngModel"
          />
          <div
            [hidden]="amount.valid || amount.pristine"
            class="alert alert-danger"
          >
            Amount is required
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="5px">
        <div class="form-group" fxFlex="70">
          <label for="cardno">Card Number</label>
          <input
            type="number"
            class="form-control"
            id="cardno"
            required
            [(ngModel)]="formModel.CardNo"
            name="cardno"
            #cardno="ngModel"
          />
          <div
            [hidden]="cardno.valid || cardno.pristine"
            class="alert alert-danger"
          >
            Card Number is required
          </div>
        </div>
        <div class="form-group" fxFlex="30">
          <label for="cvcno">CVC Number</label>
          <input
            type="number"
            class="form-control"
            id="cvcno"
            required
            [(ngModel)]="formModel.CVCNo"
            name="cvcno"
            #cvcno="ngModel"
          />
          <div
            [hidden]="cvcno.valid || cvcno.pristine"
            class="alert alert-danger"
          >
            CVC is required
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="5px">
        <div class="form-group" fxFlex="50">
          <label for="cardtype">Card Type</label>
          <select
            class="form-control"
            id="cardtype"
            required
            [(ngModel)]="formModel.CardType"
            name="cardtype"
            #cardtype="ngModel"
          >
            <option *ngFor="let cType of cardTypes" [value]="cType">
              {{ cType }}
            </option>
          </select>
          <div
            [hidden]="cardtype.valid || cardtype.pristine"
            class="alert alert-danger"
          >
            Card Type is required
          </div>
        </div>

        <div class="form-group" fxFlex="50">
          <label for="cardtype">Expiration Date</label>
          <div fxLayout="row" fxLayoutGap="5px">
            <select
              fxFlex="50"
              class="form-control"
              id="expmn"
              required
              [(ngModel)]="formModel.ExpMn"
              name="expmn"
              #expmn="ngModel"
            >
              <option *ngFor="let expMn of expMonths" [value]="expMn">
                {{ expMn }}
              </option>
            </select>
            <select
              fxFlex="50"
              class="form-control"
              id="expyr"
              required
              [(ngModel)]="formModel.ExpYr"
              name="expyr"
              #expyr="ngModel"
            >
              <option *ngFor="let expYr of expYears" [value]="expYr">
                {{ expYr }}
              </option>
            </select>
          </div>
          <div
            [hidden]="
              (expmn.valid || expmn.pristine) && (expyr.valid || expyr.pristine)
            "
            class="alert alert-danger"
          >
            Expiration Date is required
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!paymentForm.form.valid"
      >
        Submit
      </button>

      <!-- <div>
        <hr />
        Name via form.controls = {{ showFormControls(paymentForm) }}
      </div> -->
    </form>
    <div class="mar15"></div>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ formModel.Name }}</div>
    </div>

    <button class="btn btn-primary" (click)="submitted = false">Edit</button>
  </div>
</div>
<div *ngIf="isClient('2')" class="container">second client</div>
